/* Style container */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20200907/pngtree-green-hand-drawn-blackboard-education-school-supplies-background-image_397994.jpg');
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Table style */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #0d9d0db2;
    color: white;
}

table td {
    background-color: #f0f0f0;
}

/* Form input styling */
.date-picker label {
    font-weight: bold;
}

.date-picker select {
    margin-right: 10px;
    padding: 5px;
}

/* Button styling */
button {
    padding: 10px 15px;
    background-color: #0d9d0db2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0d9d0db2;
}

/* Responsive Design */
@media (max-width: 768px) {
    table th, table td {
        padding: 5px;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}
